In [2]:
import pandas as pd 
import geopandas as gpd
import numpy as np 
import shutil
from os import path
import os 
import json

## Define Grid Functions

In [68]:
import geopandas as gpd
from shapely.geometry import Point, Polygon

class grid:
    """Reada in a shp file containing sa4 names and corresponding coordinates upon creation, 
    used to classify which sa4 from greater Melbourne area the tweets are from, and returns none otherwise
    
    Example usage: 

    - import grid
    path = '/Users/yanzu/Documents/projects/COMP90042-22S1-Project/tmp/aurin_data/shp_files/spatialise-SA4/shp/apm_sa4_2016_timeseries-.shp'
    - mel_grid = grid(path)
    - mel_grid.getSA4(Point(144.946457, -37.840935))
    
    """
    path = '/Users/yanzu/Documents/projects/git/Assignment-2/aurin_data/shp_files/spatialise-SA4/shp/apm_sa4_2016_timeseries-.shp'
    
    def __init__(self, shp_path = path):
        shp_frame = gpd.read_file(shp_path)
        self.SA4_DICT = dict(zip(shp_frame.sa42016na2, shp_frame.geometry))
        

    def getSA4(self, point):
        if point == '':
            return 'None'
        point = Point(point)
        if not point: 
            return 'None'
        for (sa4, polygon) in self.SA4_DICT.items():
            if point.within(polygon):
                return sa4
        return 'None'
    def getGrid(self):
        return self.SA4_DICT

In [70]:
parks = gpd.read_file('tmp/project-data/greenspace_polygon_201908-.shp')

In [71]:
named_parks = parks[parks['greenspac3']!='UNNAMED']

In [72]:
named_parks.head(2)

,greenspac0,greenspac1,greenspac2,state_pid,greenspac3,geometry
0,LMU008027,FI2BC4C1F6CA,Modella Recreation Reserve,2,MODELLA RECREATION RESERVE,"POLYGON ((145.71108 -38.18627, 145.71078 -38.1..."
2,LMU007017,FI2BC4C26986,Yarra State Forest,2,YARRA STATE FOREST,"POLYGON ((145.79200 -37.88075, 145.78872 -37.8..."

In [73]:
# Get midpoint of a poly column 
from shapely import wkt
magrid = grid()
#grid3 = grid_sa3()
centre = []
SA4 = []
for index, row in named_parks.iterrows():
    mid = wkt.loads(row['geometry'].centroid.wkt)
    centre.append(mid)
    SA4.append(magrid.getSA4(mid))




named_parks['centroid'] = centre
named_parks['SA4'] = SA4

/Applications/anaconda3/envs/tensorflow/lib/python3.7/site-packages/pandas/core/dtypes/cast.py:118: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
/Applications/anaconda3/envs/tensorflow/lib/python3.7/site-packages/geopandas/geodataframe.py:1351: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [116]:
named_parks.head(30)

,greenspac0,greenspac1,greenspac2,state_pid,greenspac3,geometry,centroid,SA4
0,LMU008027,FI2BC4C1F6CA,Modella Recreation Reserve,2,MODELLA RECREATION RESERVE,"POLYGON ((145.71108 -38.18627, 145.71078 -38.1...",POINT (145.71100340467586 -38.18608456084215),None
2,LMU007017,FI2BC4C26986,Yarra State Forest,2,YARRA STATE FOREST,"POLYGON ((145.79200 -37.88075, 145.78872 -37.8...",POINT (145.78050662248324 -37.88194816942639),None
3,LMU006,FI2BC4C31A4D,Golden Avenue Recreation Reserve,2,GOLDEN AVENUE RECREATION RESERVE,"POLYGON ((144.65171 -37.89307, 144.65152 -37.8...",POINT (144.6476669687443 -37.891576943488346),Melbourne - West
4,LMU007014,FI2BC4C3A93F,St Helens Park,2,ST HELENS PARK,"POLYGON ((144.35775 -38.12312, 144.35668 -38.1...",POINT (144.35790817189346 -38.12238600013535),None
5,LMU007,FI2BC4C47B00,Regent Linear Reserve,2,REGENT LINEAR RESERVE,"POLYGON ((144.98459 -37.73353, 144.98461 -37.7...",POINT (144.9851928645709 -37.733281163766165),Melbourne - North East
6,LMU007013,FI2BC4C51EA5,Dandenong Ranges National Park,2,DANDENONG RANGES NATIONAL PARK,"POLYGON ((145.35290 -37.90259, 145.35289 -37.9...",POINT (145.35327373847394 -37.902191755770694),Melbourne - Outer East
7,LMU007006,FI2BC4C66C99,Yellingbo Nature Conservation Reserve,2,YELLINGBO NATURE CONSERVATION RESERVE,"POLYGON ((145.49436 -37.83868, 145.49539 -37.8...",POINT (145.49577102180208 -37.83599458825189),Melbourne - Outer East
9,LMU007022,FI2BC4C75618,Merri Creek,2,MERRI CREEK,"POLYGON ((144.97284 -37.67670, 144.97286 -37.6...",POINT (144.97287651181372 -37.67668515682279),Melbourne - North East
10,LMU007014,FI2BC4C76B50,Warrandyte State Park - Manningham,2,WARRANDYTE STATE PARK - MANNINGHAM,"POLYGON ((145.28272 -37.72070, 145.28302 -37.7...",POINT (145.28377417774877 -37.71951597795771),Melbourne - Outer East
13,LMU007,FI2B04E809A7,Watervale Boulevard Drainage Easement,2,WATERVALE BOULEVARD DRAINAGE EASEMENT,"POLYGON ((144.75883 -37.71963, 144.75906 -37.7...",POINT (144.75893308733646 -37.719823533376704),Melbourne - West
14,LMU007014,FI2BC4CB0F11,Collingrove Park,2,COLLINGROVE PARK,"POLYGON ((145.12086 -37.58940, 145.12059 -37.5...",POINT (145.11988000589326 -37.588792100765836),Melbourne - North East
15,LMU008023,FI2BC4CB3D7A,Sweeney Reserve,2,SWEENEY RESERVE,"POLYGON ((145.32686 -38.03886, 145.32672 -38.0...",POINT (145.32690411124307 -38.038089380126735),Melbourne - South East
16,LMU007014,FI2BC4CB756E,Magnolia Way Mornington Parkland,2,MAGNOLIA WAY MORNINGTON PARKLAND,"POLYGON ((145.02868 -38.26115, 145.02858 -38.2...",POINT (145.0285695426734 -38.2612924108776),Mornington Peninsula
18,LMU007008,FI2BC4CBCFE0,Port Melbourne Light Rail - Park And Gardens,2,PORT MELBOURNE LIGHT RAIL - PARK AND GARDENS,"POLYGON ((144.94550 -37.83255, 144.94414 -37.8...",POINT (144.94471738582735 -37.83286426671797),Melbourne - Inner
19,LMU007,FI2BC4CC8065,Mcnicol Road Reserve,2,MCNICOL ROAD RESERVE,"POLYGON ((145.34307 -37.91322, 145.34312 -37.9...",POINT (145.34316056139215 -37.9133432108102),Melbourne - Outer East
20,LMU007,FI2BC4CECDE8,Brynor Crescent Reserve,2,BRYNOR CRESCENT RESERVE,"POLYGON ((145.18079 -37.87911, 145.18074 -37.8...",POINT (145.18065178860672 -37.87923764548113),Melbourne - South East
21,LMU007014,FI2BC4D0C226,Maple Link,2,MAPLE LINK,"POLYGON ((145.14931 -38.10220, 145.14937 -38.1...",POINT (145.1508150271615 -38.10215849084818),Mornington Peninsula
22,LMU007,FI2BC4D0EF2E,Carlisle Terrace Reserve,2,CARLISLE TERRACE RESERVE,"POLYGON ((144.75312 -37.88988, 144.75158 -37.8...",POINT (144.75243878738138 -37.88929859461078),Melbourne - West
23,LMU007022,FI2BC4D28BFE,Cardinia Reservoir,2,CARDINIA RESERVOIR,"POLYGON ((145.41740 -37.93788, 145.41594 -37.9...",POINT (145.4168149216948 -37.93762924518371),Melbourne - South East
27,LMU007014,FI2BC4D63124,Austin Park,2,AUSTIN PARK,"POLYGON ((144.36718 -38.14783, 144.36643 -38.1...",POINT (144.36699490145935 -38.147313082133444),None
28,LMU007,FI2B04E866F7,Princes Highway Linear Reserve,2,PRINCES HIGHWAY LINEAR RESERVE,"POLYGON ((145.35924 -38.03925, 145.35991 -38.0...",POINT (145.35722488033988 -38.03789579098414),Melbourne - South East
29,LMU007,FI2BC4D819FD,Proposed Cranbourne Bypass (Casey),2,PROPOSED CRANBOURNE BYPASS (CASEY),"POLYGON ((145.29092 -38.09947, 145.29099 -38.0...",POINT (145.29102517199044 -38.09932783182635),Melbourne - South East
30,LMU007013,FI2BC4D84DEF,Woodlands Historic Park,2,WOODLANDS HISTORIC PARK,"POLYGON ((144.86759 -37.63727, 144.86280 -37.6...",POINT (144.86311867259775 -37.63517160002562),Melbourne - North West
31,LMU007022,FI2BC4D8AC3E,Deep Creek Frontage - Hume,2,DEEP CREEK FRONTAGE - HUME,"POLYGON ((144.86890 -37.50942, 144.86889 -37.5...",POINT (144.86885182812853 -37.50940193670365),Melbourne - North West
35,LMU007006,FI2BC4D9A193,Lerderderg State Park,2,LERDERDERG STATE PARK,"POLYGON ((144.53619 -37.49589, 144.53621 -37.4...",POINT (144.52358604464027 -37.54790970790161),Melbourne - North West
36,LMU007,FI2BC4DA3A06,"340 Jells Road, Wheelers Hill",2,"340 JELLS ROAD, WHEELERS HILL","POLYGON ((145.19487 -37.92268, 145.19519 -37.9...",POINT (145.19335180334517 -37.922540849733224),Melbourne - South East
37,LMU007,FI2BC4DBA162,Partingtons Flat Reserve,2,PARTINGTONS FLAT RESERVE,"POLYGON ((145.10185 -37.69839, 145.10188 -37.6...",POINT (145.1036964522648 -37.69750211849323),Melbourne - North East
38,LMU007,FI2BC4DBC55F,Maroondah Aqueduct,2,MAROONDAH AQUEDUCT,"POLYGON ((145.17212 -37.69550, 145.17215 -37.6...",POINT (145.17251184645843 -37.695491097280915),Melbourne - North East
39,LMU007003,FI2BC4DBECBE,Coranderrk Aboriginal Cemetery,2,CORANDERRK ABORIGINAL CEMETERY,"POLYGON ((145.50537 -37.68719, 145.50494 -37.6...",POINT (145.50518877338922 -37.68693758908069),Melbourne - Outer East
40,LMU007,FI2BC4DBF7A6,Bower Link,2,BOWER LINK,"POLYGON ((145.19966 -38.14781, 145.19982 -38.1...",POINT (145.19978745979964 -38.1478324097654),Mornington Peninsula

In [75]:
#named_parks.groupby('SA4')

named_parks.groupby('SA4')['centroid'].count()
parks_df = named_parks['SA4'].groupby(named_parks['SA4']).count().to_frame(name = 'count').reset_index()

In [76]:
# Drop none column 
parks_df = parks_df[parks_df['SA4'] != 'None']

In [77]:
parks_df

                       SA4  count
0        Melbourne - Inner   3370
1   Melbourne - Inner East   2215
2  Melbourne - Inner South   1795
3   Melbourne - North East   5411
4   Melbourne - North West   2513
5   Melbourne - Outer East   5658
6   Melbourne - South East   6566
7         Melbourne - West   4552
8     Mornington Peninsula   5057

## Groupby Venues by SA4

In [78]:
venues = gpd.read_file('tmp/project-data/vcglr_liquor_venues_20190308-.shp')

In [79]:
venues.head(2)

,premises_0,suburb,licence_no,address_1,address_2,postcode,long,licence_c1,objectid,lga,lat,geometry
0,SOMJAI THAI,FRANKSTON,31285823,7 WELLS ST,None,3199,145.124422,BYO Permit,4585,FRANKSTON,-38.143979,POINT (145.12442 -38.14398)
1,KIMCHEESE,BENTLEIGH EAST,31286382,687 CENTRE RD,None,3165,145.054444,BYO Permit,5050,GLEN EIRA CITY,-37.920425,POINT (145.05444 -37.92043)

In [80]:
# Add SA4 
# Get midpoint of a poly column 
from shapely import wkt
magrid = grid()
#grid3 = grid_sa3()
centre = []
SA4 = []
for index, row in venues.iterrows():
    mid = row['geometry']
    centre.append(mid)
    SA4.append(magrid.getSA4(mid))




venues['centroid'] = centre
venues['SA4'] = SA4

/Applications/anaconda3/envs/tensorflow/lib/python3.7/site-packages/pandas/core/dtypes/cast.py:118: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

In [81]:
venues.groupby('SA4')['lat'].count()

venues_df = venues['SA4'].groupby(venues['SA4']).count().to_frame(name = 'count').reset_index()

venues_df = venues_df[venues_df['SA4'] != 'None']

In [82]:
venues_df

                       SA4  count
0        Melbourne - Inner   5476
1   Melbourne - Inner East   1097
2  Melbourne - Inner South   1432
3   Melbourne - North East   1017
4   Melbourne - North West    680
5   Melbourne - Outer East   1429
6   Melbourne - South East   1331
7         Melbourne - West   1353
8     Mornington Peninsula    995

In [83]:
census = {'Melbourne - Inner':713203,'Melbourne - Inner East':400191, 'Melbourne - Inner South':450242, 'Melbourne - North East':566199, 'Melbourne - North West':429721, 'Melbourne - Outer East':536496, 'Melbourne - South East': 883260, 'Melbourne - West': 867699, 'Mornington Peninsula': 312200  }

In [84]:
# add population 
census

{'Melbourne - Inner': 713203,
 'Melbourne - Inner East': 400191,
 'Melbourne - Inner South': 450242,
 'Melbourne - North East': 566199,
 'Melbourne - North West': 429721,
 'Melbourne - Outer East': 536496,
 'Melbourne - South East': 883260,
 'Melbourne - West': 867699,
 'Mornington Peninsula': 312200}

In [86]:
type(census)

dict

In [99]:
why = pd.merge(parks_df, venues_df)
#test = combined_df

In [65]:
#combined_df = combined_df.append(census, ignore_index=True)

#d = {112: 'en', 113: 'es', 114: 'es', 111: 'en'}

In [90]:
#test['population'] = census.values()

In [102]:
parks_df

                       SA4  count
0        Melbourne - Inner   3370
1   Melbourne - Inner East   2215
2  Melbourne - Inner South   1795
3   Melbourne - North East   5411
4   Melbourne - North West   2513
5   Melbourne - Outer East   5658
6   Melbourne - South East   6566
7         Melbourne - West   4552
8     Mornington Peninsula   5057

In [103]:
venues_df

                       SA4  count
0        Melbourne - Inner   5476
1   Melbourne - Inner East   1097
2  Melbourne - Inner South   1432
3   Melbourne - North East   1017
4   Melbourne - North West    680
5   Melbourne - Outer East   1429
6   Melbourne - South East   1331
7         Melbourne - West   1353
8     Mornington Peninsula    995

In [105]:
df.from_dict(census)

NameError: name 'df' is not defined

In [106]:
df = pd.DataFrame(list(census.items()),columns = ['SA4','population'])

In [107]:
df

                       SA4  population
0        Melbourne - Inner      713203
1   Melbourne - Inner East      400191
2  Melbourne - Inner South      450242
3   Melbourne - North East      566199
4   Melbourne - North West      429721
5   Melbourne - Outer East      536496
6   Melbourne - South East      883260
7         Melbourne - West      867699
8     Mornington Peninsula      312200

In [110]:
df['venues'] = venues_df['count']
df['parks'] = parks_df['count']

In [113]:
df.to_csv('sa4_final.csv')

In [114]:
!pwd

/Users/yanzu/Documents/projects/git

In [117]:
df

                       SA4  population  venues  parks
0        Melbourne - Inner      713203    5476   3370
1   Melbourne - Inner East      400191    1097   2215
2  Melbourne - Inner South      450242    1432   1795
3   Melbourne - North East      566199    1017   5411
4   Melbourne - North West      429721     680   2513
5   Melbourne - Outer East      536496    1429   5658
6   Melbourne - South East      883260    1331   6566
7         Melbourne - West      867699    1353   4552
8     Mornington Peninsula      312200     995   5057